html, body {
    height:100%;
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #333;
}

:global(#root) {
  height: 100%;
}

:global(.app-container) {
  background-color: #fafafa;
  height: 100%;
}

:global(.item-container) {
  box-flex: 1;
  flex-grow: 1;
  margin: auto;
  max-width: 600px;
  width: 100%;
}

:global(.item-container__form-check) {
  background-color: #fff;
  border: 1px solid #edeeee;
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: -1px;
  margin-right: -1px;
}

:global(.item-container__form-check__header) {
  height: 18px;
  padding: 25px 20px;
  display: flex;
  border-bottom: 1px solid #edeeee;
}

:global(.item-container__form-check__body) {
  border-bottom: 1px solid #edeeee;
}

:global(.item-container__form-check__body__description) {
  padding: 20px 20px;
}

:global(.item-container__form-check__header__title) {
  color: #4db1e5;
  text-decoration: none;
  flex: 1;
  flex-shrink: 0;
  text-align: center;
}

:global(.item-container__form-check__header__athlete) {
  color: #a5a7aa;
  text-decoration: none;
  flex: 1;
  flex-shrink: 1;

}

:global(.item-container__form-check__header__time) {
  color: #a5a7aa;
  text-decoration: none;
  flex: 1;
  flex-shrink: 0;
  text-align: right;
}

:global(.page) {
  padding-bottom: 30px;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #edeeee;
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
}

:global(.page__header) {
  height: 70px;
  padding: 0px 20px;
  display: flex;
  border-bottom: 1px solid #edeeee;
  width: 100%;
}

:global(.page__header__title) {
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 1.5em;
  margin: 0 auto;
  margin-top: 20px;
}

:global(.page__body) {
  width: 60%;
  padding: 0px 20px;
  margin: 0 auto;
}

:global(.form-check-form) {
  margin: 0 auto;
  text-align: center;
}

:global(.form-check-form__field-container) {
  display:block;
  text-align: left;
  margin-top: 30px;
}

:global(.form-check-form__label) {
  display:block;
  font-weight: 300;
  font-size: 1em;
  color: #a5a7aa;
}

:global(.form-check-form__input-field) {
  width: 100%;
  height: 55px;
  border: 1px solid rgb(238, 238, 238);
}

:global(.form-check-form__textarea-field) {
  width: 100%;
  height: 100px;
  border: 1px solid rgb(238, 238, 238);
}

:global(.form-check-form__select-field) {
  width: 100%;
  height: 30px;
  border: 1px solid rgb(238, 238, 238);
  background: white;
}

:global(.form-check-form__field-container__radio-container) {
  margin-top: 10px;
  margin-bottom: 10px;
}

:global(.form-check-form__field-container__radio-container__field_description) {
  font-size: 0.8em;
  color: #a5a7aa;
  margin-top: 5px;
}

:global(.form-check-form__field-container__radio-container__field-label) {
  font-size: 0.8em;
  margin-left: 5px;
}

:global(.form-check-form__field-container__dropzone) {
  text-align: center;
  margin-top: 10px;
  width: 100%;
  height: 120px;
  border: 1px dashed rgb(238, 238, 238);
}

:global(.form-check-form__field-container__dropzone__inner) {
  font-size: 1em;
  font-weight: 300;
  color: #a5a7aa;
  margin-top: 50px;
}


:global(.form-check-form__field-container__dropzone--active) {
  background: rgba(76, 176, 230, 0.2);
}

:global(.form-check-form__submit-button) {
  width: 100%;
  height: 55px;
  margin-top: 30px;
  background: linear-gradient(to bottom,#4DB1E5 0,#3498CC 100%);
  box-shadow: 0 1px 0 #1A7EB2;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 300;
  font-size: 1.3em;
}
