:local(.drop-down-menu) {
  display: inline-block;
  margin-left: 40px;
}

:local(.drop-down-menu__menu:before) {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

:local(.drop-down-menu__menu:after) {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

:local(.drop-down-menu__button) {
  color: #4db1e5;
  text-decoration: none;
}

:local(.drop-down-menu__button:hover) {
  color: #1A7EB2;
}

:local(.drop-down-menu__menu) {
  display: none;
  background: white;
  border: 1px solid #edeeee;
  border-radius: 4px;
  position: absolute;
  margin-top: 5px;
}

:local(.drop-down-menu__menu__list) {
  list-style: none;
  margin: 0;
  padding: 0;
}

:local(.drop-down-menu__menu__list__item) {
  padding: 10px;
  border-bottom: 1px solid #edeeee;
}

:local(.drop-down-menu__menu--visible) {
  display: block;
}

:local(.drop-down-menu__menu__link) {
  color: #4db1e5;
  text-decoration: none;
}
