:local(.navbar) {
  border: 1px solid #edeeee;
  order: 1;
  padding: 0 20px;
  background-color: #FFFFFF;
}

:local(.navbar__content) {
  margin: 0 auto;
  max-width: 1000px;
  padding:5px;
  height: 75px;
  display: flex;
}

:local(.navbar__content__brand) {
  height: 100%;
  width: 237px;
  background: url('./logo.png') no-repeat;
  background-size: 235px;
  background-position: center;
  flex-shrink: 0;
}


:local(.navbar__content__nav) {
  flex: 1;
  flex-shrink: 1;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-right: 20px;
  box-sizing: border-box;
  text-align: right;
}

:local(.navbar__content__nav-link) {
  color: #4db1e5;
  text-decoration: none;
  margin-left: 40px;
}

:local(.navbar__content__nav-link:hover) {
  color: #1A7EB2;
}
