:local(.form-check-list__filters) {
  height: 100%;
  flex: 1;
  background-color: #fff;
  border: 1px solid #edeeee;
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: -1px;
  margin-right: -1px;;
}

:local(.form-check-list__filters__header) {
  height: 18px;
  padding: 25px 20px;
  display: flex;
  border-bottom: 1px solid #edeeee;
}

:local(.form-check-list__filters__header__title) {
  font-weight: 300;
  font-size: 1.2em;
}

:local(.form-check-list__filters__body) {
  padding: 0px 20px;
}

:local(.form-check-list__filters__body__item) {
  text-align: left;
  border-bottom: 1px solid #edeeee;
  padding: 20px;
}

:local(.form-check-list__filters__body__item__label) {
  margin-right: 10px;
}

:local(.form-check-list__filters__body__item__team-pic) {
  width: 25px;
  height: 25px;
  border-radius: 9px;
  vertical-align: middle;
}

:local(.form-check-list__filters__body__item__team-name) {
  margin-left: 8px;
  color: #a5a7aa;
  text-decoration: none;
}
